*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator{
  background-color: rgb(230, 230, 230);
  padding: 20px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.display{
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: 15px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 15px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 80px);
  
  grid-gap: 10px;
}
.btn{
  padding: 20px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.btn:hover {
  background: #555;
}

#equal{
  background-color: #ff9500;
  color: white;
    
  grid-column: span 2; 
}

#equal:hover {
  background: #e08900;
}
#clear{
  background-color: #ff3b30;
  color: white;
}
#clear:hover {
  background: #e03228;
}
#DEL{
  background-color: #303eff;
  color: white;
}
#DEL:hover {
  background: #2026e0;
}
#Operator{
  color: rgb(51, 255, 0);
}